<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>



<h3>User posts</h3>

<div class="row">
  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Starred</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @user.posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= post.starred %></td>
        <td><%= link_to 'Show', post %></td>
      </tr>
      <% end %>
      </tbody>

    </table>
  </div>
</div>


<h3>User comments</h3>

<div class="row">
  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Body</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @user.comments.each do |comment| %>
          <tr>
            <td><%= comment.body %></td>
            <td><%= link_to 'Show', post_comment_path(comment.post, comment) %></td>
          </tr>
      <% end %>
      </tbody>

    </table>
  </div>
</div>