<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Starred:</strong>
  <%= @post.starred %>
</p>

<% if @post.user %>
<p>
  <strong>User:</strong>
  <%= link_to @post.user.username, @post.user %>
</p>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
